@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  ---primary-color: white;
  --sec-color: #6246e5;
  ---bg-color: #df6951;
  --prim-font: "Poppins";
  --gradient: #a7327a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1920px;
  max-height: 7815px;
}

.primeButton {
  color: var(---primary-color);
  padding: 8px 15px;
  border-radius: 10px;
  background: #df6951;
  padding: 10px 30px;
  box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
}

.logoSide {
  position: relative;
}

svg {
  position: absolute;
  top: 19px;
  left: 27px;
  width: 78px;
}

.logo {
  color: #fff;
  text-align: center;
  font-family: Volkhov;
  font-size: 31.622px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.hero {
  min-height: 712px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.33) 0%,
      rgba(0, 0, 0, 0.33) 100%
    ),
    url("../../public/Images/hero-home.png"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.vertical-line {
  height: 33px;
  width: 2px;
  border-radius: 25px;
  background: #d0d0d0;
  /* background-color: #fff; */
  margin: 0 10px;
}

.hero-content {
  width: 80%;
  margin: 0px 60px;
}

/* category section  */

.category-section {
  margin: 40px auto;
  /* padding: 20px auto; */
  max-width: 1190px;
}

h2.title {
  color: #181e4b;
  text-align: center;
  /* font-family: Poppins, SANS-SERIF; */
  font-size: 50px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

p.section-title {
  color: #df6951;
  text-align: center;
  font-family: Poppins;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h2.title {
  color: #181e4b;
  text-align: center;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

p.section-title {
  color: #df6951;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card-section {
  display: flex;
  margin: 40px 0px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 20px;
  padding: 20px;

  align-items: center;
  gap: 20px;
}

.card:hover {
  border-radius: 36px;
  padding: 20px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0),
    0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01),
    0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02),
    0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

.card-item-1,
.card-item-2,
.card-item-3,
.card-item-4 {
  flex-flow: 1;
  flex-basis: 250px;
}

.card-heading {
  color: var(--text-heading-color, #1e1d4c);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card .card-description {
  color: #4b4f73;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
}

.card img {
  width: 72px;
  height: 72px;
  margin-bottom: 10px;
}

/* section 2  */
.image-container {
  position: relative;
  display: flex;
  margin: 20px;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%; /* Adjust as needed */
}

.large-image {
  width: 65%; /* Adjust size of large image */
  z-index: 2; /* Ensure it's above other elements */
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

.small-image {
  width: 20%; /* Adjust size of small images */
  position: absolute;
}

.small-image1 {
  width: 214px;
  top: 7rem;
  left: 2rem;
  z-index: 3;
}

.small-image2 {
  width: 120px;
  top: -3rem;
  left: 10rem;
  z-index: 3;
}

/* home page 3 section flight */
section.icons-box {
  display: flex;
  max-width: 1190px;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
}

/* For mobile devices */
@media (max-width: 768px) {
}
